
<div class="comment">
  <div class="created_at"><%= comment.created_at.strftime("%B %d, %Y") %></div>
  <div class="user"><%= @comment_user.login if @comment_user %> (<%= @comment_user.realname if @comment_user.realname %>) wrote:</div>
  <div class="body">
    <%= comment.body%>
  </div>
  <div class="actions">
    <%= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment) %> |
    <%= link_to "Destroy", comment, :confirm => "Are you sure?", :method => :delete %>
  </div>
	<% unless @commnent_communities.nil? %>
	  <font size="2" color="gray">Shared communities: 	
	  <% @commnent_communities.each do |community| %>
	     <li><%= community.name %></li>
	  <% end %>
	  </font>
	<% end %>
	
</div>
